---
const {
  href,
  variant = 'primary',
  size = 'default',
  class: className = '',
  ...attrs
} = Astro.props;

const classes = [
  'button',
  size === 'small' && 'button--small',
  `button--${variant}`,
  className,
];
---

{href ? (
  <a href={href} class:list={classes} {...attrs}>
    <slot />
  </a>
) : (
  <button class:list={classes} {...attrs}>
    <slot />
  </button>
)}
